
      <ul class="nav">
        <li class="nav-item">
            <a [routerLink]="'/'" class="my-0 nav-link font-weight-normal" style="color:black;">
              <img src="/assets/img/logo.png" >
            </a>
          </li>
        
      <li class="nav-item mt-3 ml-4">
        <a class="nav-link active" [routerLink]="'/accommodation'">
            <img src="/assets/img/home-24.png" >
          Accommodation
        </a>
      </li>
      <li class="nav-item ml-4">
          <a class="nav-link active" [routerLink]="'/room'">
              <img src="/assets/img/hotel-24.png" >
            Rooms
          </a>
        </li>
        <li class="nav-item ml-4">
            <a class="nav-link active" [routerLink]="'/ocupation'">
                <img src="/assets/img/calendar-24.png" >
              Ocupation
            </a>
          </li>
          <li class="nav-item ml-4">
              <a class="nav-link active" [routerLink]="'/pricelist'">
                  <img src="/assets/img/literature-24.png" >
                Pricelist
              </a>
            </li>
    </ul>
    <ul class="nav" style="bottom: 0px; position: fixed;">
      <li class="nav-item ml-3">
          <a class="nav-link" [routerLink]="'/register'">
            Register
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'/login'">
              Sign in
            </a>
        </li>
    </ul>

    