<body>
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr scope="col" *ngFor="let el of certificates; let i = index">
        <th scope="row">{{i}}</th>
        <td>{{el.commonName}}</td>
        
        <td>    
          <button class="btn btn-info btn-lg" type="button" (click)="openModal('custom-modal-2')">Details</button>
          
        </td>
        <td>    
            <button class="btn btn-lg btn-primary btn-block" type="submit">Show hierarchy</button>
        </td>
        <td>    
            <button class="btn btn-lg btn-primary btn-block" type="submit">Show trusted certificates</button>
        </td>
        <td>    
            <button class="btn btn-lg btn-primary btn-block" type="submit">Withdraw</button>
        </td>
        <td>    
          <button class="btn btn-lg btn-primary btn-block" (click)="addTrustedCertificates()" type="submit">Add Trusted Certificates</button>
      </td>
      </tr>
    </tbody>
  </table>
<!-- Button trigger modal-->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCookie1">Cookies</button>

<!--Modal: modalCookie-->
<div class="modal fade top" id="modalCookie1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Body-->
      <div class="modal-body">
        <div class="row d-flex justify-content-center align-items-center">

          <p class="pt-3 pr-2">We use cookies to improve your website experience</p>

          <a type="button" class="btn btn-primary">Learn more <i class="fas fa-book ml-1"></i></a>
          <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Ok, thanks</a>
        </div>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: modalCookie-->

</body>

<modal id="custom-modal-2">
  <div class="modal">
      <div class="modal-body">
          <h1 style="height:1000px">A Tall Custom Modal!</h1>
          <button (click)="closeModal('custom-modal-2');">Close</button>
      </div>
  </div>
  <div class="modal-background"></div>
</modal>
