<body>
  <div class="leftContent">
  <table class="table table-sm">
    <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr scope="col" *ngFor="let el of certificates; let i = index">
        <th scope="row">{{i}}</th>
        <td>{{el.commonName}}</td>
        
        <td>    
          <button class="btn btn-info btn-sm" type="button" (click)="showDetails(i)">Details</button>
          
        </td>
        <td>    
            <button class="btn btn-sm btn-primary btn-block" type="submit">Show hierarchy</button>
        </td>
        <td>    
            <button class="btn btn-sm btn-primary btn-block" type="submit">Show trusted certificates</button>
        </td>
        <td>    
            <button class="btn btn-sm btn-primary btn-block" type="submit">Withdraw</button>
        </td>
        <td>    
          <button class="btn btn-sm btn-primary btn-block" (click)="addTrustedCertificates()" type="submit">Add Trusted Certificates</button>
      </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="middleContent"></div>
  <div class="rightContent"  >
    <div id="details" *ngIf="hideDetails">
    <h1>Certificate Details</h1>
    <table id="certificateDetailsTable" class="table table-sm">
          <tbody>
              <tr>
                  <td>Issued to:</td>
                  <td></td>
                </tr>
              <tr>
                   <td>Common name:</td>
                    <td>{{certificate.commonName}}</td>
                  </tr>
                  <tr>
                      <td>Organization:</td>
                      <td>{{certificate.organization}}</td>
                    </tr>
                    <tr>
                       <td>Organization unit:</td>
                        <td>{{certificate.organizationUnit}}</td>
                      </tr>

                      <tr>
                           <td>Serial number:</td>
                          <td>{{certificate.serialNumber}}</td>
                        </tr>
                        <tr>
                           <td>Issued by:</td>
                            <td></td>
                          </tr>
                        <tr>
                            <td>Common name:</td>
                            <td>{{certificate.commonNameIssuer}}</td>
                          </tr>
                          <tr>
                              <td>Organization:</td>
                              <td>{{certificate.organizationIssuer}}</td>
                            </tr>

                            <tr>
                                <td>Organization unit:</td>
                                <td>{{certificate.organizationUnitIssuer}}</td>
                              </tr>
                              <tr>
                                  <td>Validate not before:</td>
                                  <td>{{certificate.validityBegin}}</td>
                                </tr>
                                <tr>
                                    <td>Validate not after:</td>
                                    <td>{{certificate.validityExpire}}</td>
                                  </tr>
          </tbody>
    </table>
  </div>
  <div id="showTrustedCertificates" *ngIf="showAddTrustedCertificates">
       <table class="table table-sm">
      <thead>
          <tr>
            <th *ngFor="let el of trustedElements" scope="col">{{el}}</th>
            
          </tr>
        </thead>
        <tbody>
          <tr scope="col" *ngFor="let el of certificates; let i = index">
            
            <td>{{el.commonName}}</td>
            
            <td>    
              {{el.organization}}
            </td>
            <td>
              <input (change)="onChange($event)" class="form-check-input" type="checkbox" value="" id="el.serialNumber">
            </td>
            <td>    
           </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-sm btn-primary btn-block"  type="submit">Confirm</button>
     <div>     

     </div> 
    </div>
  </div>

</body>
