<div *ngIf="accommodation" class="album py-5 bg-light" style="margin-left: 175px;">
    <div class="row">
        <div class="col-3">
          <div class="card mb-4 shadow-sm">
              <img src="assets/img/Hotel.jpg" height="175" class="card-img-top">
              <div class="card-body">
                  <h1>{{accommodation.naziv}}</h1>
                  <h3>Kapacitet : {{accommodation.kapacitet}}</h3>
                  <p>{{accommodation.opis}}</p>
              </div>
          </div>
        </div>
        <div class="col-9">
            <table class="table">
                <thead>
                  <tr>
                    <th colspan="4" style="text-align: center;">Roms</th>
                  </tr>
                  <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Services</th>
                    <th scope="col">Number</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Tip1</td>
                    <td>klima</td>
                    <td><input type="number"></td>
                    <td rowspan="3" class="ml-3"><button>RESERVE</button></td>
                  </tr>
                  <tr>
                    <td>Tip2</td>
                    <td>Djakuzi</td>
                    <td><input type="number"></td>
                  </tr>
                  <tr>
                    <td>Tip2</td>
                    <td>Bazen</td>
                    <td><input type="number"></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>