<table class="table ml-2 mt-2">
  <thead style="background-color: #0074E1;">
    <tr>
      <th scope="col" colspan="7" style="text-align: center; color: white">
        Ocupation
        <a class="active" [routerLink]="'../ocupation/add'">
          <img src="/assets/img/add-32.png" style="float: right;">
        </a>
      </th>
    </tr>
    <tr style="color: white">
      <th scope="col">#</th>
      <th scope="col">Accommodation</th>
      <th scope="col">Room</th>
      <th scope="col">Room status</th>
      <th scope="col">Date from</th>
      <th scope="col">Date to</th>
      <th scope="col">Manipulation</th>
    </tr>
  </thead>
  <tbody style="color: #0074E1">
    <tr *ngFor="let item of ocupation; let i = index">
      <td scope="row">{{i+1}}</td>
      <td>{{item.nazivSmestaja}}</td>
      <td>{{item.nazivSobe}}</td>
      <td>{{item.nazivStatusaSobe}}</td>
      <td>{{item.datumOd}}</td>
      <td>{{item.datumDo}}</td>
      <td>
          <a class="active" [routerLink]="['../ocupation/change/', item.id]">
            <img class="mr-2" src="/assets/img/edit-9-32.png">
          </a>
          <a class="active" (click)="delete(item.id)" [routerLink]="'/ocupation'">
            <img src="/assets/img/x-mark-4-32.png">
          </a>
        </td>
    </tr>
  </tbody>
</table>