<table class="table ml-2 mt-2">
    <thead style="background-color: #007AFE;">
      <tr>
        <th scope="col" colspan="5" style="text-align: center; color: white">
          Accommodation
          <a class="active" [routerLink]="'/accommodation/add'">
            <img src="/assets/img/add-32.png" style="float: right;">
          </a>
        </th>
      </tr>
      <tr style="color: white">
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Description</th>
        <th scope="col">Manipulation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td style="background-color: black">
            <img src="/assets/img/add-32.png" style="float: right;">
            <img src="/assets/img/add-32.png" style="float: right;">
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>