<form class="form-container" [formGroup]="form" fxLayout="column" fxLayoutAlign="center">

  <mat-form-field class="form-field">
    <input matInput placeholder="Email" formControlName="email" required>
    <mat-error *ngIf="form.controls.email.errors?.required">Email is required!</mat-error>
    <mat-error *ngIf="form.controls.email.errors?.email">Email is not valid!</mat-error>
  </mat-form-field>

  <mat-form-field class="form-field">
    <input matInput placeholder="Username" formControlName="username" required>
    <mat-error *ngIf="form.controls.email.errors?.required">Username is required!</mat-error>
    <mat-error *ngIf="form.controls.email.errors?.email">Username is not valid!</mat-error>
  </mat-form-field>

  <mat-form-field class="form-field">
    <input matInput type="password" placeholder="Password" formControlName="password" required>
    <mat-error>Password is required!</mat-error>
  </mat-form-field>

  <mat-form-field class="form-field">
    <input matInput type="password" placeholder="Confirm password" formControlName="confirmPassword" required>
    <mat-error>Passwords are not same!</mat-error>
  </mat-form-field>

  <mat-form-field class="form-field">
    <input matInput placeholder="First name" formControlName="firstName" required>
    <mat-error  *ngIf="form.controls.firstName.errors?.required">First name is required!</mat-error>
    <mat-error *ngIf="form.controls.firstName.errors?.pattern">First name must contain just letters!</mat-error>
  </mat-form-field>

  <mat-form-field class="form-field">
    <input matInput placeholder="Last name" formControlName="lastName" required>
    <mat-error *ngIf="form.controls.lastName.errors?.required">Last name is required!</mat-error>
    <mat-error *ngIf="form.controls.lastName.errors?.pattern">Last name must contain just letters!</mat-error>

  </mat-form-field>

  <mat-form-field class="form-field">
    <input matInput placeholder="Telephone" formControlName="telephone" >
    <mat-error *ngIf="form.controls.telephone.errors?.pattern">Telephone must contain just numbers!</mat-error>

  </mat-form-field>

  <mat-form-field class="form-field">
    <input matInput placeholder="City" formControlName="city">
    <mat-error *ngIf="form.controls.city.errors?.pattern">City must contain just letters!</mat-error>

  </mat-form-field>
  <br>
  <div fxLayout="row" fxLayout="start">
    <button mat-raised-button color="primary" (click)="save()">Register</button>
  </div>
</form>
