<body class="text-center">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <h1 class="h3 mb-3 font-weight-normal">Create a certificate</h1>
        <form [formGroup]="certForm" (ngSubmit)="onSubmit($event)" novalidate>
            <div class="form-group">
                <div class="row">
                  <div style="text-align:left;" class="col-4">
                    <label>Who signs:</label>
                  </div>
                  <div class="col-8">
                      <select formControlName="alias" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.alias.errors }">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                  </div>
                </div>
                <div class="row mt-2">
                    <div class="col-4">
                    </div>
                    <div style="text-align:left;" class="col-8 ">
                        <div class="form-check">
                            <input formControlName="selfSigned" class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                              Self signed
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-4">
                    </div>
                    <div style="text-align:left;" class="col-8 ">
                        <div class="form-check">
                            <input formControlName="selfSigned" class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                              CA
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                  <div style="text-align:left;" class="col-4">
                    <label>To whom:</label>
                  </div>
                  <div class="col-8">
                      <select formControlName="alias" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.alias.errors }">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                  </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                  <div style="text-align:left;" class="col-4">
                    <label>Keystore:</label>
                  </div>
                  <div class="col-8">
                      <div class="row">
                          <div class="col-9">
                              <select formControlName="alias" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.alias.errors }">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select></div>
                          <div class="col-3">
                                <a class="btn btn-outline-primary ml-2" [routerLink]="'../adminPage/createKeystore'">Create</a>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                  <div style="text-align:left;" class="col-4">
                    <label>Start date:</label>
                  </div>
                  <div class="col-8">
                      <div class="input-group mb-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                          <input class="form-control " formControlName="startDate" [ngClass]="{ 'is-invalid': submitted && f.startDate.errors }"
                          [owlDateTimeTrigger]="dtfrom" [owlDateTime]="dtfrom">
                          <owl-date-time #dtfrom></owl-date-time>
                        </div>
                  </div>
                </div>
                <div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
                    <div *ngIf="f.startDate.errors.required">Username is required</div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                  <div style="text-align:left;" class="col-4">
                    <label>End date:</label>
                  </div>
                  <div class="col-8">
                      <div class="input-group mb-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                          <input class="form-control " formControlName="endDate" [ngClass]="{ 'is-invalid': submitted && f.endDate.errors }"
                          [owlDateTimeTrigger]="dtTo" [owlDateTime]="dtTo">
                          <owl-date-time #dtTo></owl-date-time>
                        </div>
                  </div>
                </div>
                <div *ngIf="submitted && f.endDate.errors" class="invalid-feedback">
                    <div *ngIf="f.endDate.errors.required">Username is required</div>
                </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col"></div>
                <div class="col">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
                </div>
              </div>
            </div>
        
      </form>
    </div>
    <div class="col-3"></div>
  </div>
  
</body>