<ul class="nav">
  <li class="nav-item">
      <a [routerLink]="'/'" class="my-0 nav-link font-weight-normal" style="color:black;">
        <img src="/assets/img/logo.png" >
      </a>
    </li>
  
<li class="nav-item mt-3 ml-4">
  <a class="nav-link active" [routerLink]="'/user'">
      <img src="/assets/img/group-32.png" >
    User
  </a>
</li>
<li class="nav-item ml-4">
    <a class="nav-link active" [routerLink]="'/agent'">
        <img src="/assets/img/businessman-32.png" >
      Agent
    </a>
  </li>
  <li class="nav-item ml-4">
      <a class="nav-link active" [routerLink]="'/comment'">
          <img src="/assets/img/speech-bubble-2-32.png" >
        Comment
      </a>
    </li>
    <li class="nav-item ml-4">
        <a class="nav-link active" [routerLink]="'/type'">
            <img src="/assets/img/apartment-32.png" >
          Accommodation type
        </a>
      </li>
      <li class="nav-item ml-4">
        <a class="nav-link active" [routerLink]="'/category'">
            <img src="/assets/img/hotel-2-32.png" >
          Accommodation category
        </a>
      </li>
      <li class="nav-item ml-4">
        <a class="nav-link active" [routerLink]="'/accessory'">
            <img src="/assets/img/plus-7-32.png" >
          Accessory
        </a>
      </li>
</ul>
<ul class="nav" style="bottom: 0px; position: fixed;">
  <li class="nav-item ml-3">
      <a class="nav-link" [routerLink]="'/register'">
        Register
      </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="'/login'">
          Sign in
        </a>
    </li>
</ul>
