<table class="table ml-2 mt-2">
    <thead style="background-color: #0074E1;">
      <tr>
        <th scope="col" colspan="7" style="text-align: center; color: white">
          Reservations
        </th>
      </tr>
      <tr style="color: white">
        <th scope="col">#</th>
        <th scope="col">Accommodation</th>
        <th scope="col">User</th>
        <th scope="col">Start date</th>
        <th scope="col">End date</th>
        <th scope="col">Room number</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody style="color: #0074E1">
      <tr *ngFor="let item of reservation; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{item.nazivSmestaj}}</td>
        <td>{{item.imePrezimeKorisnik}}</td>
        <td>{{item.datumOd}}</td>
        <td>{{item.datumDo}}</td>
        <td>{{item.brojSoba}}</td>
        <td>
            <a class="active" [routerLink]="['/reservation/message', item.id]">
              <img class="mr-2" src="/assets/img/message-2-32.png">
            </a>
        </td>
      </tr>
    </tbody>
  </table>